<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello, World</title>
    <style type="text/css">
        body{
            background-color:#fff;
            color: #222;
            font-family:sans-serif;
            padding: 1.8rem;
        }
    </style>
</head>
<body>
    <h1>Hello! 👋</h1>
    <!--
        This is our Vue.js container.
        The display is set to none so
        that we can hide the brackets
        that are used for our Vue.js
        template while we wait for the
        api request to finish
    -->
    <div id="app" style="display:none;">
        <p v-if="error">
            {{ error }}
        </p>
        <p>
            My name is <a v-bind:href="website">{{ this["full name"] }}</a>. I use {{ pronouns }} pronouns.</h1>
        </p>
        <p>
            I like {{ hobbies.slice(0,-1).join(', ') }}, and {{ hobbies[hobbies.length-1] }}.
        </p>
        <p>
            I will graduate from {{ school }} in {{ this["grad countdown"] }}!
        </p>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
/*
    The Fetch API is a Promise that resolves to a
      Response object.
    Our JavaScript will run faster than our API request
      will. 
    We can use this async-await pattern to wait for 
      the Fetch command to provide a Response before
      continuing with the rest of our script.
    If we do not use async-await, our myData variable
      will only contain a Promise reference.
*/
(async () => {

    // myData will be our variable
    // holding our data served by /api
    myData = await fetch( '/api', {
        method: 'GET'
    }).then(
        (response) => {
            if ( response.ok ){
                return response.json();
            } else {
                // if response is not ok
                // let's throw an error
                // to .catch()
                throw new Error(`API returned ${response.status} error.`);
            }
        }
    ).catch(
        (error) => {
            // takes any errors created
            // in process above and 
            // prints it to the console
            // as an Error message
            console.error(error);

            // Our maybe we want to let visitors
            // know that there is an error by
            // send them an alert
            alert(error);

            // We might also choose to overwrite
            // our whole webpage with the error
            // message by using:
            // document.write(error);
        }
    );
    
    // Initializes our Vue.js app
    // Using our #app div as a container
    // and using myData as our data
    const app = new Vue({
        el: '#app',
        data: myData
    });

    // This un-hides our #app div
    // but only if API does not return error
    document.getElementById('app').style.display = 'block';

})();
</script>
</body>
</html>
